body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    color: #d4d4d4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

input[type="text"] {
    background-color: #1a1a1a;
    color: #00ff00;
    border: 2px solid #00ff00;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    width: 90%;
    max-width: 400px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    outline: none;
    transition: box-shadow 0.3s, border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007acc;
    box-shadow: 0 0 15px rgba(0, 122, 204, 0.7);
}

button {
    background: linear-gradient(90deg, #007acc, #005a9e);
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 200px;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

div[hidden] {
    display: none;
}

div:not([hidden]) {
    background-color: #252526;
    color: #d4d4d4;
    border: 1px solid #3c3c3c;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

#pista {
    background-color: #333333;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #00ff00;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

a{
    color: #569cd6;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

a:hover{
    text-decoration: underline;
}

#error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.2rem; 
    }

    input[type="text"], button, div:not([hidden]) {
        font-size: 14px;
        padding: 10px;
    }
}